html
    head    
        title Person
    body
        form(action="/person", method="POST")
            div 
                label(for="name") Name:
                input(name="name")
            br
            div
                label(for="age") Age:
                input(type="text" name="age")
            br
            div
                select(name="nations")  Nations
                    option(value="None") None
                    option(value="USA") USA
                    option(value="India") India
                    option(value="France")  France
                    option(value="Germany") Germany
                    option(value="Scotland") Scotland
                    option(value="Ireland") Ireland
            br
            button(type="Submit") Create new person