doctype
html
    head
        title = "Hello Pug"
    body
        p.greetings#people Hellow world!
        h1 Welcome to Pug
        div
            | To insert multiline text
            | you can use pipe operator
        div.container.column.main#division(width="100", height="100") 
            This is a block of text 
            You can use "." at the end of tage to denote block of text.